cloud_id                 = "b1gioq1hscnqi9o5r9ls"
folder_id                = "b1geuc7kufjok1fnrn9c"
zone                     = "ru-central1-a"
image_id                 = "fd88ov8vn9svipl4oirs"
private_key_path         = "~/.ssh/ubuntu"
public_key_path          = "~/.ssh/ubuntu.pub"
subnet_id                = "e9bs8pdtpmckfdv6jp23"
service_account_key_file = "/home/amartynov/sec/key.json"
